body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 247, 254)
}
h1 {
    color: #0d6efd;
    font-size: 30px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: rgba(39, 33, 66, .4);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}

li:first-letter {
text-transform: capitalize;
}

.weather-app {
    padding: 30px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 10px auto;
}

.units {
    margin-right: 20px;
}

.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #05004e;
    font-size: 64px;
    font-weight: 400;
    font-weight: 700;
    line-height: 1;
    margin-right: 0;
}

.weather-temperature .units {
    color: #05004e;
    font-size: 20px;
    font-weight: 100;
    line-height: 36px;
    line-height: 1;
    position: relative;
    top: -34px;
}

.weather-temperature .active {
    text-decoration: none;
    color: #05004e;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    text-align: center;
    margin-top: 30px;
}

.weather-forecast-temp-max {
    color: #0d6efd;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}
.weather-forecast-temp-min {
    color: #0d6efd;
    opacity: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.weather-forecast-day {
    font-size: 16px;
    color: rgba(39, 33, 66, .4);
}

.input-colour {
    background-color: rgb(249, 247, 254)
}





        